
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lexend Deca', sans-serif;
    background-color: #f2f2f2;
    color: white;
    font-size: 15px
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vh;
    margin: auto;
}
.container .card1{
    background-color: #E28525;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
}
.container .card2{
    background-color: #016972;
}
.container .card3{
    background-color: #00403f;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
}
.container .card1 , .card2 , .card3{
    padding: 5px;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.learn-more{
    text-decoration: none;
    border: 2px solid white;
    border-radius:25px;
    padding: 10px;
    background-color: white;
    opacity: 0.9;
    justify-self: center;
    width: 43%;
    text-align: center;
    margin-left: 3rem;
    transition: 0.3s;
}
.learn-more:hover{
    background-color: transparent;
    color: white;
}
.car1{
    color: #E28525;
}
.car2{
    color: #016972;
}
.car3{
    color: #00403f;
}
p{
    width: 80%;
    color: rgba(255, 255, 255, 0.699);
    align-self: center;
    font-weight: 100;
    line-height: 1.7;
    margin-top: -2rem;
}
img{
    margin-top: 2rem;
    width: 70px;
    margin-left: 2rem;
}
h2{
    font-family: 'Big Shoulders Display', cursive;
    font-size: 40px;
    opacity: 0.8;
    margin-left: 2rem;
}
@media screen and (max-width: 376px) {
    .container{
        flex-direction: column;
        width: 90%;
        height: 100%;
    }
    .card1{
        height: 100%;
    }
}