@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700&family=Changa:wght@200;300;400;500;600;700;800&family=Dosis:wght@200;300;400;500;600;700;800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Cairo', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Geneva, Verdana, sans-serif;
    background-color: #f2f2f2;
    color: white;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container .card1{
    background-color: #E28525;
    width: 25%;
    padding: 5px;
}
.container .card2{
    background-color: #016972;
    width: 25%;
    padding: 5px;
}
.container .card3{
    background-color: #00403f;
    width: 25%;
    padding: 5px;
}
.learn-more{
    text-decoration: none;
    border: 1px solid white;
    border-radius: 30px;
    padding: 10px;
    background-color: white;
}
.car1{
    color: #E28525;
}
.car2{
    color: #016972;
}
.car3{
    color: #00403f;
}